*, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

.home{
	width: 100%;
	height: 100%;
	background: url(/images/background.png) center/cover no-repeat;
	position: relative;
}

.home__video{
	padding-bottom: 56.25%;
}

.home video{
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
}

.head_name{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

.head_name h3{
	font-family: consolas;
	font-size: 50px;
	letter-spacing:8px;
	text-transform: lowercase;
	color: #7fc4e1;
	filter: blur(1.4px);
}


.head_name h1{
	font-family:consolas;
	font-size: 180px;
	letter-spacing:2px;
	text-transform: uppercase;
	font-weight: 1000;
	color: #7fc4e1;
	filter: blur(1.4px);
}

.ref{
	top: 200px;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	justify-content:center;
	position: absolute;
	filter: invert();
	filter: blur(1px);
}
